<h3>
    Welcome to HikingRoutes!
</h3>
<p>
  <strong>{{client_id}}</strong> would like to access your data on HikingRoutes.
</p>
<p>Login to grant {{client_id}} access to your data:</p>
{% if errorMessage %}
    <p style="color:red;">{{ errorMessage }}</p>
{% endif %}
<form action="" method="post">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" value="" />
    </p>

    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" />
    </p>

    <input type="submit" class="button authorize" value="Login" />
    <input type="hidden" name="authorize" value="1" />
</form>
